
/*============    	АДАПТИВ    ===========*/
.dropdown-toggle{
	border: 1px solid #fff;
	padding: 10px 15px;
	margin-top:10px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	color: #FFF;
	&:hover{
		color: #FFF;
		background-color: #666666;
	}
	i{
		margin-top: 10px;
		font-size: 18px;
	}
}
@media(min-width:0px) and (max-width:320px) {
	nav{
		top: 0;
		height: 50px;
		padding-top: 10px;
		.dropdown-menu{
			min-width: 320px;
			width: 100vw;
		}
		img{
			display: block;
			margin-top: -7px;
		}
		.cart{
			&:before{
				display: none;
			}
		}
	}
	section#main{
		.mainHeader{
			h2{
				font-size: 18px;
				margin-top: 110px;
			}
			h1{
				font-size: 24px;
			}
			h4{
				font-size: 14px;
				line-height: 20px;
			}
		}
		.mainButton{				
			button#getStart{
				font-size: 12px;
				padding: 12px 23px;
				margin: 0 auto;
				display: block;
			}
		}
	}
	section#service{
		padding: 40px 0px;
		a.serviceLink{
			i{
				font-size: 2em;
			}
			h3{
				font-size: 16px;
				font-weight: bold;
			}
			p{
				font-size: 1em;
				line-height: 19px;
			}
			hr.line{
				margin-top: 20px;
			}
		}
	}
	section#firstSlider{
		.sectionHeder{
			margin-top: 40px;
			margin-bottom: 50px;
			h2{
				font-size: 22px;
				margin: 0 32px;
			}
			h3{
				margin-top: 10px;
				font-size: 18px;
				span{
					line-height: 14px;
					font-size: 14px;
				}
			}
		}
		.sectionBottom{
			padding: 15px 0px 20px;
			h3{
				font-size: 18px;
				margin-top: 0px;
			}
			span{
				font-size: 14px;
				color: #948A87;
			}
			button{
				margin-top: 12px;
				font-size: 9px;
				padding: 7px;
			}
		}
	}
	section#LatestProjects{
		padding-top: 15px;
		margin-bottom: 15px;
		.sectionHeder{
			h2{
				font-size: 22px;
			}
			h3{
				margin-top: 10px;
				font-size: 18px;
				span{
					line-height: 18px;
				}
			}
		}
		.post{
			.boxComponent{
				padding-top: 20px;
    			margin-bottom: 25px;
    			h4{
    				font-size: 16px;
    				text-align: center;
    				padding-bottom: 10px;
    				margin: 0;
    			}
    			h5{
    				display: none;
    			}
			}
		}
		button.moreBtn{
			padding: 5px 35px;
			margin: 0;
			font-weight: normal;
		}
	}
	section#infoConentBox{
		padding-top: 10px;
		.contentInfoStyle{
			h3{
				font-size: 18px;
				margin-top: 5px;
			}
			p{
				line-height: 18px;
				font-size: 12px;
			}
			.list-group-item{
				font-size: 12px;
				padding-left: 10px;
				line-height: 20px;
				padding-bottom: 5px;
				span{
					margin-right: 10px;
				}
			}
		}
	}
	section#SatisfiedClients{
		padding: 30px 0;
		h2{
			font-size: 18px;
			margin-top: 15px;
		}
		h5{
			font-size: 13px;
		}
		hr.top-line{
			margin-top: 15px;
		}
	}
	section#postSlider{
		padding: 0;
		.col-md-4{
			display: none;
		}
		h2{
			font-size: 20px;
		}
		p{
			font-size: 15px;
			line-height: 20px;
			padding-bottom: 10px;
		}
		button{
			    color: #FFF;
			    padding: 5px 35px;
			    margin-bottom: 5px;
			    border-radius: 5px;
			    border: 2px solid #d1c0ac;
			    background-color: #998675;
			    text-transform: uppercase;
			    -webkit-transition: all 1s ease;
			    -moz-transition: all 1s ease;
			    -o-transition: all 1s ease;
			    -ms-transition: all 1s ease;
			    transition: all 1s ease;
			    font-family: 'Myriad Pro',sans-serif;
			    font-weight: normal;
		}
	}
	section#partners{
		#shadowPartners{
			padding: 50px 0;
		}
	}
	footer{
		p{
			line-height: 16px;
		}
		hr{
			margin-top: 10px;
    		margin-bottom: 10px;
		}
		h3{
			font-size: 18px;
			margin-bottom: 5px;
    		margin-top: 20px;
		}
		#footercontent{
			padding: 20px 0px;
			#aboutWacom{
				a{
					text-align: left;
					img{
						width: 50px;
						height: 40px;
					}
					h2{
						font-size: 24px;
					}
				}
				a.btnMoreFooter{
					text-align: left;
				}
				p{
					line-height: 16px!important;
				}
			}
			#recentPosts{
				display: none;
			}
			#ourTwitter{
				display: none;
			}
			#dribbbleWidget{
				display: none;
			}
		}
		#copyRight{
			font-size: 12px;
			text-align: center;
			padding-top: 20px;
    		padding-bottom: 10px;
    		#copyRightLeft{
    			p{
    				float: none;
    			}
    			.footerNav{
    				float: none;
    				margin-bottom: 10px;
    			}
    		}
    		p{
    			text-align: center;
    			line-height: 20px;
    		}
		}
	}
	/**POPUP**/
	.cartBtn_modal{
		font-size: 12px;
		.productBox{
			a{
				
			}	
		}
		input{
			margin: 45px auto;
		}
		.closeCartBtn{
			margin-top: 50px;
			a{
				height: 100%;
	    		display: block;
			}
		}
	}
}

@media(min-width:321px) and (max-width:480px) {
	
	nav{
		top: 0;
		height: 50px;
		padding-top: 10px;
		.dropdown-menu{
			min-width: 480px;
			width: 100vw;
		}
		img{
			display: block;
			margin-top: -7px;
		}
		.cart{
			&:before{
				display: none;
			}
		}
	}
	section#main{
		.mainHeader{
			h2{
				font-size: 20px;
				margin-top: 80px;
			}
			h1{
				font-size: 28px;
				font-weight: bold;
			}
			h4{
				font-size: 16px;
			    line-height: 20px;
			    padding: 0 50px;
			}
		}
		.mainButton{
		    margin-top: 25px;
    		margin-bottom: 100px;				
			button#getStart{
				font-size: 12px;
				padding: 12px 23px;
				margin: 0 auto;
				display: block;
			}
		}
	}
	section#service{
		padding: 40px 0px;
		.col-md-3{
			width: 50%;
			float: left;
			padding-left: 5px;
			padding-right: 5px;
		}
		a.serviceLink{
			i{
				font-size: 2em;
			}
			h3{
				font-size: 18px;
			}
			p{
				font-size: 0.9em;
				line-height: 18px;
			}
			hr.line{
				margin-top: 20px;
			}
		}
	}
	section#firstSlider{
		.sectionHeder{
			margin-top: 40px;
			margin-bottom: 50px;
			h2{
				font-size: 26px;
				margin: 0 32px;
			}
			h3{
				margin-top: 10px;
				margin: 0 20px;
				span{
					line-height: 14px;
					font-size: 16px;
				}
			}
		}
		.sectionBottom{
			padding: 25px 0 30px;
			h3{
				font-size: 22px;
				margin-top: 0px;
			}
			span{
				font-size: 16px;
				color: #948A87;
			}
			button{
				margin-top: 12px;
				font-size: 12px;
				padding: 7px;
			}
		}
	}
	section#LatestProjects{
		padding-top: 15px;
		margin-bottom: 15px;
		.sectionHeder{
			h2{
				font-size: 22px;
			}
			h3{
				margin-top: 10px;
				font-size: 18px;
				span{
					margin: 0 20px;
    				font-size: 16px;
					line-height: 18px;
				}
			}
		}
		.col-md-4{
			width: 48%;
			float: left;
		}
		.post{
			.boxComponent{
				padding-top: 20px;
    			margin-bottom: 25px;
    			h4{
    				font-size: 14px;
    			}
    			h5{
    				font-size: 12px;
    				margin-top: 10px;
					padding-bottom: 15px;
    			}
			}
		}
		button.moreBtn{
			padding: 5px 35px;
			margin: 0;
		}
	}
	section#infoConentBox{
		padding-top: 10px;
		.contentInfoStyle{
			h3{
				font-size: 18px;
				margin-top: 5px;
			}
			p{
				line-height: 18px;
				font-size: 12px;
			}
			.list-group-item{
				font-size: 12px;
				padding-left: 10px;
				line-height: 20px;
				padding-bottom: 5px;
				span{
					margin-right: 10px;
				}
			}
		}
	}
	section#SatisfiedClients{
		padding: 30px 0;
		h2{
			font-size: 18px;
			margin-top: 15px;
		}
		h5{
			font-size: 13px;
		}
		hr.top-line{
			margin-top: 15px;
		}
	}
	section#postSlider{
		padding: 0;
		h2{
			font-size: 20px;
		}
		p{
			font-size: 15px;
			line-height: 20px;
		}
		button{
			display: none;
		}
		.thumbnail{
			img{
				width: 100%;
			}
			.caption{
				padding-top: 15px;
    			padding-left: 12px;
    			.calendar{
    				h2{
    					font-size: 14px;
    				}
    				p{
    					font-size: 12px;
    				}
    			}
    			h3{
    				font-size: 15px;
    			}
    			p{
    				font-size: 12px;
    				line-height: 15px;
    				padding-bottom: 12px;
    				margin: 0;
    			}
			}
		}
	}
	section#partners{
		#shadowPartners{
			padding: 50px 0;
		}
	}
	footer{
		p{
			line-height: 16px;
		}
		hr{
			margin-top: 10px;
    		margin-bottom: 10px;
		}
		h3{
			font-size: 18px;
			margin-bottom: 5px;
    		margin-top: 20px;
		}
		#footercontent{
			padding: 20px 0px;
			#aboutWacom{
				a{
					text-align: center;
				}
				a.btnMoreFooter{
					text-align: left;
				}
				p{
					line-height: 16px!important;
				}
			}
			#recentPosts{
				.recentBox{
					span.chronology{
						margin-bottom: 5px;
					}
				}
			}
			#ourTwitter{
				span.chronology{
					font-size: 12px;
	    			margin: 5px 0px;
				}
			}
		}
		#copyRight{
			font-size: 12px;
			text-align: center;
			padding-top: 20px;
    		padding-bottom: 10px;
    		#copyRightLeft{
    			p{
    				float: none;
    			}
    			.footerNav{
    				float: none;
    				margin-bottom: 10px;
    			}
    		}
	    		p{
	    			text-align: center;
	    			line-height: 20px;
	    		}
		}
	}
	/**POPUP**/
	.cartBtn_modal{
		font-size: 12px;
		.productBox{
			a{
				
			}	
		}
		input{
			margin: 45px auto;
		}
		.closeCartBtn{
			margin-top: 50px;
			a{
				height: 100%;
	    		display: block;
			}
		}
	}
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}
