.arrow {
  font-size: 3em;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.arrow#left-arrow {
  -webkit-transform: translate(-11em, -50%);
  -moz-transform: translate(-11em, -50%);
  -ms-transform: translate(-11em, -50%);
  -o-transform: translate(-11em, -50%);
  transform: translate(-7em, -50%);
}
.arrow#right-arrow {
  -webkit-transform: translate(10em, -50%);
  -moz-transform: translate(10em, -50%);
  -ms-transform: translate(10em, -50%);
  -o-transform: translate(10em, -50%);
  transform: translate(6em, -50%);
}
.arrow:hover {
  color: #a39584;
}

a:focus, a:hover{
  color: #b5a191;
}

.slider {
position: relative;
  left: 50%;
  top: 62%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 100%;
  height: 200px;
}
.slideTop {
  float: left;
  position: relative;
  width: 33.33333%;
  height: 100%;
  overflow-x: hidden;
}
.slideTop#slide-center {
  z-index: 1;
  bottom: 30px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.slide-holder {
  width: 300%;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  -webkit-transform: translateX(-33.33333%);
  -moz-transform: translateX(-33.33333%);
  -ms-transform: translateX(-33.33333%);
  -o-transform: translateX(-33.33333%);
  transform: translateX(-33.33333%);
}

.slide-bg {
  width: 33.33333%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0;
}

#slide-left .bg-previous {
  background-image: url(../img/browser-img/browser-left.jpg);
}
#slide-left .bg-current {
  background-image: url(../img/browser-img/browser-right.jpg);
}
#slide-left .bg-next {
  background-image: url(../img/browser-img/browser-center.jpg);
}

#slide-center .bg-previous {
  background-image: url(../img/browser-img/browser-right.jpg);
}
#slide-center .bg-current {
  background-image: url(../img/browser-img/browser-center.jpg);
}
#slide-center .bg-next {
  background-image: url(../img/browser-img/browser-left.jpg);
}

#slide-right .bg-previous {
  background-image: url(../img/browser-img/browser-center.jpg);
}
#slide-right .bg-current {
  background-image: url(../img/browser-img/browser-left.jpg);
}
#slide-right .bg-next {
  background-image: url(../img/browser-img/browser-right.jpg);
}
