/*-- Image sprites --*/
	/*-- Rect cups --*/
		.cups{
			width:54px;
			height:45px;
			background:url('../img/sprites.png') 0px 0px no-repeat;
			margin: auto;
		}
	/*-- Rect launcher --*/
		.launcher{
			width:54px;
			height:45px;
			background:url('../img/sprites.png') -54px 0px no-repeat;
			margin: auto;
		}
	/*-- Rect likes --*/
		.likes{
			width:54px;
			height:45px;
			background:url('../img/sprites.png') -108px 0px no-repeat;
			margin: auto;
		}
	/*-- Rect post --*/
		.postIcon{
			width:54px;
			height:45px;
			background:url('../img/sprites.png') -162px 0px no-repeat;
			margin: auto;
		}
	/*-- Rect user --*/
		.user{
			width:54px;
			height:45px;
			background:url('../img/sprites.png') -216px 0px no-repeat;
			margin: auto;
		}
/*-- Base64Rects --*/
@media(min-width:0px) and (max-width:320px) {
	/*-- Image image1 --*/
	/*-- Rect cups --*/
		.cups{
			width:30px;
			height:25px;
			background:url('../img/sprites-media.png') 0px 0px no-repeat;
		}
	/*-- Rect launcher --*/
		.launcher{
			width:30px;
			height:25px;
			background:url('../img/sprites-media.png') -30px 0px no-repeat;
		}
	/*-- Rect likes --*/
		.likes{
			width:30px;
			height:25px;
			background:url('../img/sprites-media.png') -60px 0px no-repeat;
		}
	/*-- Rect post --*/
		.postIcon{
			width:30px;
			height:25px;
			background:url('../img/sprites-media.png') -90px 0px no-repeat;
		}
	/*-- Rect user --*/
		.user{
			width:30px;
			height:25px;
			background:url('../img/sprites-media.png') -120px 0px no-repeat;
		}
/*-- Base64Rects --*/

}