/*============    ШРИФТЫ    ===========*/
.roboto{
	font-family: 'Roboto', sans-serif;
	}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.raleway{
	font-family: 'Raleway', sans-serif;
}
.myriadPro{
	font-family: 'Myriad Pro',sans-serif;
}
.bold{
	font-weight:700;
	}
.med{
	font-weight: normal;
}
.light{
	font-weight: lighter;
}
.slowe{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
/*============    Базове налаштування    ===========*/
a:hover,
a:focus,
a:visited,
a:active{
	text-decoration: none;
	outline: none;
}
.light h2{
	text-transform: uppercase;
	color: #555555;
	.bold;
	.myriadPro;
}
button:focus{
	outline: none;
}
/*============    Шапка    ===========*/
header{
	color:#ffffff;
	background: url(../img/HederBG_1920.jpg)no-repeat center center;
	background-size: cover;
	
	#shadowHeader{
		padding-top:40px;
		width: 100%;
	    height: 100%;
	    background: rgba(17,17,17,0.7);
    }
	.logotype a{
		color: #FFF;
		h2{
			.raleway;
			.med;
			vertical-align: middle;
			display: inline;
			font-size: 34px;
		}

	}
	.cart{
		padding-right: 6px;
		padding-top: 15px;
		&:hover{
			text-decoration: none;	
		}
		display: inline-block;
		&:before{
			content: '';
			width: 30px;
			height: 30px;
			background: url(../img/cart_icon.png)no-repeat center center;
			display: inline-block;
		}
	}
	.serch{
		padding-left: 6px;
		padding-top: 15px;
		&:hover{
			text-decoration: none;	
		}
		display: inline-block;
		&:before{
			content: '';
			width: 30px;
			height: 30px;
			background: url(../img/serch_icon.png)no-repeat center center;
			display: inline-block;
		}
	}
}
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/

/*============    Навикация    ===========*/
nav{
	ul.list-inline a{
		.raleway;
		.med;
		display: inline-block;
		padding: 0px 10px;
		color: #ffffff;
		&:hover{
			color:#c7b299;
			text-decoration: none;
		}
	}
	ul.list-inline{
		margin: 20px 0px 0px;
		display: inline-block;
    	float: right;
	}
}

/*============    service    ===========*/
section#service{
	text-align: center;
	padding: 79px 0px;
	a.serviceLink{
		color: #555;
		hr.line{
			width: 70px;
			margin-top: 34px;
		    border: 0;
		    border-top: 3px solid #f1eee9; 
		}
		&:hover{
			color: #c7b299;
			.slowe;
			    }
		&:hover hr.line{
			border-top: 3px solid #c7b299;
			.slowe;
		    }
		h3{
			text-transform: capitalize;
		}
		p{
			.montserrat;
			.light;
			line-height: 24px;
			color: #8C8C8C;
		}
	}
}
/*============    firstSlider    ===========*/
section#firstSlider{
	background: #FBFAF8;
	.sectionHeder{
		margin-top: 80px;
		margin-bottom: 100px;
		span{
			line-height: 28px;
			color: #8c8c8c;
			font-size: 18px;
			.myriadPro;
			.med;
		}
	}
	.sectionBottom{
		padding: 30px 0px 40px;
		text-transform: capitalize;
		background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(53,38,31,0.95) 45%, rgba(59,41,33,0.94) 55%, rgba(78,52,39,0.9) 99%, rgba(78,52,39,0.9) 100%);
		background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%,rgba(53,38,31,0.95) 45%,rgba(59,41,33,0.94) 55%,rgba(78,52,39,0.9) 99%,rgba(78,52,39,0.9) 100%);
		background: linear-gradient(to right, rgba(33,27,25,1) 0%,rgba(53,38,31,0.95) 45%,rgba(59,41,33,0.94) 55%,rgba(78,52,39,0.9) 99%,rgba(78,52,39,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#e64e3427',GradientType=1 );
		h3{
			.raleway;
			.med;
			color: #FFF;
			a{
				color: #C7B299;
				&:hover{
					color: #dbc4a9;
				}
			}
		}
		span{
			.montserrat;
			.light;
			color: #615855;
		}
	}
	.purchaseBtn{
		color: #FFF;
		margin-top: 23px;
		padding: 15px 16px 15px;
		border-radius: 3px;
    	border: none;
		text-transform: uppercase;
		background: #998675;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(115,99,87,1);
		-moz-box-shadow: 0px 3px 5px 0px rgba(115,99,87,1);
		box-shadow: 0px 3px 5px 0px rgba(115,99,87,1);
	}
}
/*============    Головний екран    ===========*/

section#main{
	text-align: center;
	.mainHeader{
		color: #ffffff;
		.raleway;
		.med;
			h2{
				font-size: 36px;
				margin-top:150px;
				margin-bottom: 7px;
			}
			h1{
				margin-top: 10px;
				font-size: 52px;
				span{
					text-transform: uppercase;
				}
			}
			h4{
				font-size: 16px;
			}

		}
		.mainButton{
			margin-top: 55px;
			margin-bottom: 150px;
			button#getStart{
				text-transform: uppercase;
				color: #ffffff;
				border: none;
				background-color: #998675;
				-webkit-border-radius: 5px;
				        border-radius: 5px;
				-webkit-box-shadow: 0px 3px 6px 0px rgba(153,134,117,0.8);
				-moz-box-shadow: 0px 3px 6px 0px rgba(153,134,117,0.8);
				box-shadow: 0px 3px 6px 0px rgba(153,134,117,0.8);
				padding: 25px 45px;
				&:hover{
					background-color: #736357;
				}
			}
		
	}
}
/*============    LatestProjects    ===========*/
section#LatestProjects{
	padding-top: 60px;
	margin-bottom: 30px;
	.sectionHeder{
		margin-bottom: 43px;
		span{
			line-height: 28px;
			color: #8c8c8c;
			font-size: 18px;
			.myriadPro;
			.med;
		}
	}
	 .post{
		background-color: #fbfaf8;
		.slowe;
		&:hover{
			background-color: #362f2d;
			-webkit-filter: brightness(80%);
		}
		img{
		-webkit-filter: brightness(100%);
		  .slowe;
		   background-color: #FBFAF8;

	}
		.boxComponent{
			padding-top: 28px;
			margin-bottom: 30px;
			h4{
				text-align: left;
				color: #C7B299;
				text-transform: capitalize;
				margin-top: 0px;
				margin-left: 30px;
				.myriadPro;
				.light;
			}
			h5{
				text-align: left;
				color: #d1d1d1;
				text-transform: capitalize;
				margin-top: 16px;
				margin-left: 30px;
				padding-bottom: 30px;
				.myriadPro;
				.light;
			}
		
		}
	}
	button.moreBtn{
				color: #FFF;
				padding: 10px 70px;
				margin-top: 10px;
				margin-bottom: 30px;
				border-radius: 5px;
				border: 2px solid #d1c0ac;
				background-color: #998675;
				text-transform: uppercase;
				.slowe;
				.myriadPro;
				.bold;
					&:hover{
						.slowe;
						color: #D1C0AC;
						background-color: transparent;
					}
			}	 

}
/*============    Video box    ===========*/
section#VideoBox{
	#video{
	  object-fit: initial;
	  width: 100%;
	  max-height: 500px;
	  height: 100%;
	}
	
}
/*============    infoConentBox    ===========*/
section#infoConentBox{
	padding-top: 80px;
	background-color: #FBFAF8;
		.contentInfoStyle{
			.raleway;
			.bold;
			color: #555;
		p{
			line-height: 28px;
			color: #8C8C8C;
			.montserrat;
			.light;
		}
		.list-group-item{
			color: #8C8C8C;
			border: none;
			padding-top: 0px;
			padding-left: 35px;
		    line-height: 24px;
		    padding-bottom: 10px;
			background-color: transparent;
			span{
				color: #F5F2EE;
				background-color: #c7b299;
				padding: 5px;
				margin-right: 28px;
				border-radius: 50%;
			}
		}
	}
}
/*============    Statistic    ===========*/
section#SatisfiedClients{
	padding-top: 65px;
	padding-bottom: 60px;
	color: #FFF;
	text-align: center;
	background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(53,38,31,0.95) 45%, rgba(59,41,33,0.94) 55%, rgba(78,52,39,0.9) 99%, rgba(78,52,39,0.9) 100%);
	background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%,rgba(53,38,31,0.95) 45%,rgba(59,41,33,0.94) 55%,rgba(78,52,39,0.9) 99%,rgba(78,52,39,0.9) 100%);
	background: linear-gradient(to right, rgba(33,27,25,1) 0%,rgba(53,38,31,0.95) 45%,rgba(59,41,33,0.94) 55%,rgba(78,52,39,0.9) 99%,rgba(78,52,39,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#e64e3427',GradientType=1 );
	h2{
		.med;
		.myriadPro;
	}
	h5{
		color: #c7b299;
		text-transform: uppercase;
		.montserrat;
		.light;
		
	}
	.top-line{
		width: 31px;
		margin-top: 30px;
		border-top: 2px solid #ffffff;
	}
}
/*============    Post Slider    ===========*/
section#postSlider{
	padding-top: 80px;
	padding-bottom: 40px;
	text-align: center;
	
	h2{
		.raleway;
		.med;
		color: #555555;
	}
	p{
		.montserrat;
		.light;
		line-height: 28px;
		color: #8C8C8C;
		padding-bottom: 40px;
	}
	.thumbnail{
		padding: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		border: 1px solid #f8f8f8;
		text-align: left;
		position: relative;
		.calendar{
			text-align: center;
			top: 0;
			left: 0;
			margin: 3%;
			position: absolute;
			h2{
				padding: 9px 12px;
				margin: 0;
				background: #363636;
				border-radius: 5px 5px 0px 0px;
				color: #fff;
				.montserrat;
				.light;
			}
			p{
				.roboto;
				color: #FFF;
				background: #252525;
				padding: 5px 12px;
				border-radius: 0px 0px 5px 5px;
			}
		}
		img{
			opacity: 1;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		&:hover{
			background-color: #362f2d;
		    .slowe;
			 .calendar{
			 	h2{
			    	background: #ddcebc;
			   	}
			   	p{
			 		background: #a48d72;
			 	}
			 }    
		    h3{
		    	color: #BDA992;
		    }
		    p{
		    	color: #fff;
		    }
		    img{
		    	opacity: .3;
		    }
		}
	}
	.caption{
		padding-top: 30px;
		padding-left: 28px;
		h3{
			.raleway;
			.med;
			color: #555;
		}
		p{
			padding-bottom: 24px;
		}
		a{
			.montserrat;
			.light;
			color: #C7B299;
		}
	}
}
/*============    Partners Box    ===========*/
section#partners{
	background: url(../img/partnersBG_1920.jpg)no-repeat center center;
	background-size: cover;
	#shadowPartners{
		width: 100%;
	    height: 100%;
	    padding: 75px 0px;
	    background: rgba(17,17,17,.7);
	}
	img{
		margin: 0 auto;
		padding: 5px 0px;
		}
}
/*============    Footer    ===========*/
footer{
	background: #191919;
	color: #fff;
	#footercontent{
		padding: 80px 0px;
		line-height: 20px;
	}
	h2{
		.raleway;
    	vertical-align: middle;
    	display: inline-block;
    	margin-bottom: 30px;
	}
	h3{margin-bottom: 18px;}
	p{
		color: #555;
		line-height: 20px;
	}
	hr{
		border-color: #252525;
	}
	#aboutWacom{
		p{
			line-height: 24px !important;
		}
		a{
			display: block;
			margin-top: 15px;
			color: #D1D1D1;
			&:hover{
				color: #EDEBEB;
			}
		}	
	}
	#recentPosts{
		h3{
			.bold;
			.montserrat;
		}
		.recentBox{

			.chronology{
				.montserrat;
				.light;
				display: block;
				color: #343434;
				font-size: 12px;
				margin-bottom: 13px;
			}
			&:hover{
				.chronology{
					color: #FFF;
				}
				p{
					color: #c7b299;
				}
			}
		}
	}
	#ourTwitter{
		font-size: 14px;
		h3{
			.bold;
			.montserrat;
		}
		span{color: #959595;}
		.twitter{color: #00BFF3;}
		.chronology{
			.montserrat;
			.light;
			display: block;
			color: #343434;
			margin-top: 11px;
			margin-bottom: 13px;
		}
	}
	#dribbbleWidget{
		h3{
			.bold;
			.montserrat;
		}
		.footerImg{
			padding: 0px 5px 5px 0px;
			img{
				margin: 0 auto;
			}
		}
	}
	#copyRight{
		background: #111;
		padding-top: 40px;
		padding-bottom: 20px;
		span{
				color: #959595;
			}
		.verticalLine{
			color: #252525;
			padding: 0 10px;
		}
		#copyRightLeft{
			p{
				display: block;
				float: left;
			}
			.footerNav{
				display: block;
				float: left;
			}
			a{
			color: #505050;
			&:hover{
				color: #C7B299;
				}
			}
		}
		#copyRightRight{

		}
		
	}
}
/*============    Footer    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
.modal-dialog{
	margin-top: 10%;
}
.headerModel{
	h4{
		text-transform: uppercase;
		color: #666666;
		.montserrat;
		.light;
	}
}
.modal-header{
	border-bottom: none;
	margin-top: -50px;
	.close{
		text-shadow: none;
		color: #FFF;
		opacity:0.9;
		margin-right: -30px;
	}
}
.modal-content{
	-webkit-border-radius: 0;
	        border-radius: 0;
	    #imaginary_container{
	    	.stylish-input-group {
	    		.input-group-addon{
    				background: white !important; 
				}
				.form-control{
					border-right:0; 
					box-shadow:0 0 0; 
					border-color:#ccc;
				}
				button{
					border:0;
    				background:transparent;
				}
	    	}
	    }
}
.headerModelInfo{
	h4{
		margin-left: 20px;
		text-transform: uppercase;
		color: #666666;
		.montserrat;
		.light;
	}
	p{
		.raleway;
		.med;
		color: #555;
		display: block;
		margin-left: 20px;
	}
}
.myFormStyle{
	display: block;
	float: left;
}
.cartBtn_modal{
	.productBox{
		display: block;
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: left;
		.montserrat;
		.bold;
		p{
			.roboto;
			.bold;
			color: #737373;
			margin: 5px 0;
		}
	}
	input{
			width: 42px;
			margin: 20px auto;
		}
	.closeCartBtn{
		margin-top: 25px;
		a{
			height: 100%;
    		display: block;
		}
	}
	a.buyBtn{
		width: 100%;
		.roboto;
		.bold;
		line-height: 30px;
		display: inline-block;
	    color: #218cc2;
	    border: 1px solid #218cc2;
	    -webkit-border-radius: 3px;
	            border-radius: 3px;
	    &:hover{
	    	color: #ffffff;
	    	background: #337ab7;
	    	border:none;
	    }
	}
}
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

@import "media.less";



